services:
  nuxt:
    command: npm run dev
    image: node:22-alpine
    environment:
      NODE_ENV: development
      NUXT_HOST: 0.0.0.0
      NUXT_PORT: 8080
    ports:
      - 8080:8080
    volumes:
      - ./src:/app
    working_dir: /app
